.header{
	background-color:#EE464D;
}
.header .logo{padding:2px 0 0 0;}
.header:hover {
    background: #EE464D;
}
.pushy .profile,.pushy{
	background-color:#ee464d;
}
.pushy .side_menu li a{
	background-color:#ee464d;
	border:none;
}

.pushy .side_menu li a,
.pushy .side_menu li a i{
	border:none;
	
}
.pushy .side_menu li{
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}
.pushy .side_menu li:hover{
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}
.pushy .side_menu li:first-child{
	border-top:none;
}
.pushy .side_menu li:first-child:hover{
	border-top:none;
}
.pushy .side_menu li a i{
	background-color:#000000;
}
#ad:hover{
	background-color:#FFFFFF;
	color:#ee464d;
}